{% extends "base.html" %}
{% block content %}

<h1>Dashboard</h1>

<div class="card">
    <div class="kpi">{{ items_count }}</div>
    <div class="kpi-label">Total Items</div>
</div>

<div class="card">
    <div class="kpi">{{ total_stock }}</div>
    <div class="kpi-label">Total Stock (pcs)</div>
</div>

<div class="card">
    <div class="kpi">{{ low_stock_count }}</div>
    <div class="kpi-label">Low Stock Items</div>
</div>

<div class="card">
    <div class="kpi">₦{{ "%.2f"|format(inventory_value) }}</div>
    <div class="kpi-label">Inventory Value</div>
</div>

{% endblock %}
